:root{
    --header-height: 3rem;
    --nav-width: 68px;

    --first-color: #8CB4E3;
    --first-color-alt: #363638;
    --second-color: #5B9BD5;
    --white-color: #ddeaff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

main{
    position: relative;
    margin: var(--header-height) 0 0 0 ;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Source Sans', sans-serif;
    transition: 0.5s;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    padding: 0 1rem;
    transition: 0.5s;
}

.header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color-alt);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height:  100vh;
    width: var(--nav-width);
    background-color: var(--first-color);
    /* padding-top: 1rem; */
    transition: 0.5s;
    box-shadow: 1px 1px 20px #575555;
    
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    padding: 2rem 0 0 0;
}

.nav-main-header{
    background-color: var(--second-color);
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    border-bottom: 2px solid var(--white-color);
}

.nav-details{
    /* overflow: hidden; */
    align-items: center;
    width: 60%;
    padding: 1rem 0 1rem 1.5rem;
    margin-left: 2rem;
    border: 1.5px solid var(--first-color-alt);
    border-radius: 20px 0 20px 0;
    visibility: hidden;
}

.nav-user-icon{
    padding: 0 1rem 0 0;
    color: nav-main-header;
}

.nav-col-user-details{
    padding-bottom: .5rem;
    color: var(--first-color-alt)
}

.nav-logo, .nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    padding: .5rem 0 .5rem 1.5rem;
    column-gap:  3rem;
}

.nav-logo{
    margin-bottom: 2rem;
}

.nav-logo-icon {
    font-size: 1.5rem;
    color: var(--first-color-alt);
    cursor: pointer;
}

.nav-logo-name {
    font-weight: 700;
    color: var(--first-color-alt);
}

.nav-link {
    position: relative;
    color: var(--first-color-alt);
    transition: 0.10s;
    margin-bottom: .5rem;
    border: 1px solid #7d97b4;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #575555;
    margin-right: 3px;
    margin-left: 3px;
    width: 78%;
}

.nav-link-name {
    color: var(--first-color);
    visibility:hidden ;
}


.nav-link:hover{
    color: var(--first-color-alt);
    background-color: #5B9BD5;
    border-radius: 10px 10px 10px 10px;
}

.nav-header-name {
    position: relative;
    font-weight: 500;
    font-size: .5rem;
    color: var(--first-color);
    padding: 0 0 0 1rem;
}

.nav-main-header-name{
    visibility:hidden ;
    color: #242528;
    padding: 0 0 0 1rem;
}


.nav-link.active{
    color: var(--first-color-alt);
    background-color: #5B9BD5;
}

.active::before{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 3px;
    /* background-color: var(--first-color-alt); */
    transition: 0.5s;
}

.show {
    left: 0;
}

.space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
}



/**************** SUB MENU ***********************/

.nav .nav-list .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: rgb(127, 165, 211);
    display: none;
    transition: all 0.10s ease;
}

.nav .nav-list  .sub-menu.open{
    position: absolute;
    left: 100%;
    /* top: -10px; */
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 8px 8px 0;
    transition: all 0.10s ease;
    display: none;
    opacity: 1;
    pointer-events: auto;
}

.nav .nav-list .sub-menu.open {
    top: 360px;
}

.nav .nav-list .sub-menu a {
    color: var(--first-color-alt);
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.nav .nav-list .sub-menu a:hover {
    opacity: 1;
}

.nav .nav-list .sub-menu li{
    padding: .5rem 0 .5rem .5rem;
    align-content: center;
    transition: all 0.4s ease;
}

.nav .nav-list .sub-menu li:hover{
    /* background-color: rgb(127, 165, 211);
    border-radius: 50px; */
    padding-top: 15px;
}

.nav .nav-list .sub-menu .sub-link-name.open{
    opacity: 1;
    display: block;
}

.nav .nav-list .sub-menu .sub-link-name{
    display: none;
}

.btn .btn-success {
    color: #fff;
    background-color: #20ad00;
    border-color: #20ad00;
}

.btn .btn-danger{
    color: #fff;
    background-color: #f36a02d1;
    border-color: #ffa04d;
}


@media screen and (min-width: 768px) {
    main {
        margin: calc(var(--header-height)) 0 0 0 ;
        padding: 0 0 0 calc(var(--nav-width) );
    }

    .header{
        height: calc(var(--header-height));
        padding-left: calc(var(--nav-width) + 1rem);
    }

    .sidebar{
        left: 0;
        /* padding: 1rem 0 0 0; */
    }

    .show{
        width: calc(var(--header-height) + 220px);
    }

    .space-toggle{  
        padding-left: calc(var(--nav-width) + 210px);
    }

    .nav-logo, .nav-link {
        display: grid;
        grid-template-columns: max-content max-content;
        padding: .5rem 0 .5rem 1.5rem;
        column-gap:  1rem;
    }

    .nav-list {
        padding-top: 10px;
    }

    .nav-details{
        visibility:visible ;
    }


    .show.nav-header-name {
        position: relative;
        font-weight: 500;
        font-size: 15px;
        color: var(--first-color-alt);
        padding: 0 0 0 1rem;
    }

    .show.nav-main-header-name{
        visibility:visible ;
    }

    .show.nav-link-name {
        color: var(--first-color-alt);
        visibility:visible ;
    }

    .show.nav-details{
        visibility: hidden;
    }

    .nav .nav-list .nav-link:hover + .sub-menu.open{
        top: 340px;
        opacity: 1;
        pointer-events:auto;
        display: block;
    }
}