.Cascade-container {
    width:48%;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    border-top: 3px solid #007bff;
    margin: 10px;
    padding: 5px;
    height: 275px;
  }
  .top-container{
    display: flex;
  }
  
  .top-container .form-group{
    width: 100%;
    display: flex;
  }
  
  h3{
    width: 100%;
    text-align: center;
  }

  .form-content{
    display: flex;
  }

  .form-content .row3{ 
      width: 100%;
      padding: 5px;
  }

.subLedger{
  display: flex;
}
  .col-ms-4{
    
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7px;
  }

  .col-ms-4 input{
  margin-right: 10px;
  }

  .modal-btn-cat button{
    width: 30%;
    color: white;
    cursor: pointer;
    background-color: #2512ef;

  }

  .modal-btn-cat {
    padding: 10px;
    border:1px solid #dee2e6;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
  }

  /* .icon {
    cursor: pointer;
    margin-right: 30px;
  } */