
.right{
    border:1px solid #dee2e6;
    padding: 10px;
  border-radius: 5px;}

.contact{
    margin-top: 10px;
    padding: 10px;
    border:1px solid #dee2e6;  
    border-radius: 5px;
}

.form-group1.vat input{
   height: 20px;
}
.form-group1.vat {
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    border:1px solid #dee2e6;  
   
}
.form-group1.status {
    display: flex;
}
.form-group.customer {
    display: flex;
}
/* .form-group.customer {
    display: flex;
    flex-direction:column ;
} */

.form-group.customer label{
    font-size: small;
width: 50%;
}

.form-group1.status input{
  height: 20px;
       
 }

.col-sm-3{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
}


/* .btn-tools{
    width: 10%;
    height: 30px;
} */
.status{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
position: relative;
bottom: 10px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    z-index: 1;

    }
    .avatar-upload .avatar-edit input {
    display: none;
    }
    .avatar-upload .avatar-edit input + label {
    position: relative;
    left: 100px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 0;
    border: solid;
    border-radius: 100%;
    z-index: 2;
    border: 1px solid;
    background-color: rgb(47, 255, 75);
    /* box-shadow: 0px 10px 2px 0px rgba(0, 0, 0, 0.12); */
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    }
    .avatar-upload .avatar-edit input + label:hover {
      content: white;
      background: #4156e0;
    /* background: #f1f1f1; */
    
    border-color: #050505;
    }
    .avatar-upload .avatar-edit input + label:after {
    /* content: "\f093"; */
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    color: #121111;
    position: absolute;
    /* top: 2px; */
    left: 0;
    right: 0;
    text-align: center;
    font-size: small;
    margin: auto;
    }
    .avatar-upload .avatar-preview {
    
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    border: 1px solid #21309f;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .avatar-upload .avatar-preview > div {
    
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
.form-group.image{

    border:1px solid #dee2e6;  
}

.avatar-preview{
    margin-left: 20px;
}
.form-group.customer input{
     width: 100%;
    
    }

.form-group.customer .icon-search{
  position: relative;
  top:7px;
  right: 20px;
   }
   

ul li {
    cursor: pointer;
}

input[disabled],textarea[disabled],select[disabled]{
    background-color: #e0e1e1 !important;
}
